<launch>
    <group ns = "camera_width">
        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="filters"           default="pointcloud"/>
            <arg name="camera" value="width"/>
            <arg name="serial_no" value="023322060732" />
        </include>
        <node pkg="tf" type="static_transform_publisher" name="camera_to_world" args="0.0 0.0 0.0 0.0 0.0 0 /world /width_camera_link 30"/>

    </group>


    <group ns = "camera_length">
        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="filters"           default="pointcloud"/>
            <arg name="camera" value="length" />
            <arg name="serial_no" value="935722061157" />

        </include>
        <node pkg="tf" type="static_transform_publisher" name="camera_to_world" args="0.0 0.0 0.0 0.0 0.0 1.527 /world /length_camera_link 60"/>
    </group>

</launch>