<?xml version="1.0"?>
<launch>
    <arg name="rviz_display" default="false"/>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="filters"           default="pointcloud"/>
    <arg name="camera"            value="two" />
    </include>


    <node pkg="package_tracking" type="edge_tracking" name="edge_tracking" output="screen">

        <!--Box Filter Parameters: [x_min,x_max,y_min,y_max,z_min,z_max]-->
<!--        <rosparam param="cam_bounding_box">[0.252,0.316,0.017,0.009,0.557,-0.635]</rosparam>-->
        <rosparam param="cam_bounding_box">[-0.4,0.4,-0.15,0.16,0.10,0.70]</rosparam>
        <rosparam param="file_name">"L42"</rosparam>
    </node>


<!--    <include file="$(find my_pcl_tutorials)/launch/cameras.launch">-->
<!--    </include>-->

    <group if="$(arg rviz_display)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find package_tracking)/config/package_state_config.rviz" required="true"/>
    </group>
</launch>
